on:
  - push
  - pull_request

name: Continuous integration

jobs:
  example-policy-tests:
    name: Test suite of example policy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: '8.0.x'
          include-prerelease: true
      - run: dotnet test example/MyFirstKubewardenPolicy.Tests

  example-policy-e2e-tests:
    name: Run e2e tests of the example policy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: '8.0.x'
          include-prerelease: true
      -
        name: Install dependencies
        uses: kubewarden/github-actions/policy-gh-action-dependencies@247608f0b5a1562a6fd2576e5b2e6cbe62551baf # v4.5.15
      - name: Run e2e tests
        run: |
          cd example/MyFirstKubewardenPolicy
          make e2e-tests
          